  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">{{data.role.des1}}</p>
          <p>{{data.description.desc1}}</p>
          <p>{{data.mailid.mail1}}</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">{{data.role.des2}}</p>
          <p>{{data.description.desc1}}</p>
          <p>{{data.mailid.mail2}}</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">{{data.role.des3}}</p>
          <p>{{data.description.desc1}}</p>
          <p>{{data.mailid.mail3}}</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  
