<!-- <div class="row">
    <div class="col-md-6" *ngFor="let data of formData">
      <div class="form-group">
        <label>{{ data.key }}</label>
        <input *ngIf="data.type === 'text'" type="text" class="form-control" [name]="data.key" [(ngModel)]="formDataValues[data.key]">
        <input *ngIf="data.type === 'email'" type="email" class="form-control" [name]="data.key" [(ngModel)]="formDataValues[data.key]">
        <input *ngIf="data.type === 'password'" type="password" class="form-control" [name]="data.key" [(ngModel)]="formDataValues[data.key]">
      </div>
    </div>
  </div>
   -->

   <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card">
          <div class="card-header">{{ item.title }}</div>
          <div class="card-body">{{ item.content }}</div>
        </div>
      </div>
    </div>
  </div>