* {box-sizing: border-box}

form{
  width:470px;
  height: auto;
  display: flex;
  position: absolute;
  left: 33%;
  top: 25%;
  padding: 14px 36px 14px 36px;
  background-image: url('../../assets/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */
.header{
  display: flex;
    margin-left: 32%;
}

/* Set a style for all buttons */
button.signupbtn{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  float: right;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  font-size: 20px;
  color: blue;
}


.cancelbtn {
  float: left;
  width: 50%;
}

input.ng-invalid.ng-touched{
  border: 2px solid red;
}

.errors{
  color: red;
  font-size: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container{
  width: 400px;
}

select{
  width: 150px;
  /* font-weight: 200; */
  height: 25px;
}